.desktopNavigation {
  background: transparent;
  display: none;
}

.container {
  background: rgb(255 255 255 / 50%);
  border-radius: 0.5rem;
  margin: 0 auto;
  max-width: 1280px;
  overflow: visible;
  padding: 0 1rem;
  position: relative;
}

/* Темная тема */
html[data-theme='dark'] .container {
  background: rgb(31 41 55 / 50%);
}

@media (width <= 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (width <= 1024px) {
  .container {
    max-width: 960px;
  }
}

.navContainer {
  align-items: center;
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  overflow: visible;
  padding: 0.25rem 0;
  position: relative;
  width: 100%;
}

.separator {
  align-self: center;
  background-color: rgb(0 0 0 / 50%);
  flex-shrink: 0;
  height: 1.25rem; /* примерно половина высоты строки навигации */
  width: 1px;
}

html[data-theme='dark'] .separator {
  background-color: rgb(255 255 255 / 50%);
}

@media (width >= 767px) {
  .desktopNavigation {
    display: block;
  }
}
