.desktopNavigation {
  background: transparent;
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  overflow: visible;
  padding: 0 1rem;
  position: relative;
}

@media (width <= 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (width <= 1024px) {
  .container {
    max-width: 960px;
  }
}

.navContainer {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  overflow: visible;
  padding: 0.75rem 0;
  position: relative;
  width: 100%;
}

@media (width >= 767px) {
  .desktopNavigation {
    display: block;
  }
}
