.header {
  background: transparent;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  z-index: 50;
}

.mainHeader {
  background: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
}

@media (width <= 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (width <= 1024px) {
  .container {
    max-width: 960px;
  }
}

.logoSection {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
